footer {
    position: relative;
    overflow-x: hidden;
    .label__read {
        color: $main-color;
        cursor: pointer;
    }
    input {
        display: none;
    }
    #read:checked ~ .footer__text {
        height: auto;
    }
    #read:checked ~ label.label__read {
        display: none;
    }
}
.footer {
    &__symbols {
        display: block;
        margin: 0 auto;
        margin-bottom: 80px;
        margin-top: 90px;
    }
    &__text {
        color: #fff;
        font-style: italic;
        font-weight: normal;
        font-size: 25px;
        line-height: 35px;
        overflow: hidden;
        height: 80px;
        opacity: .3;
        &_mob {
            font-weight: normal;
            font-size: 7px;
            line-height: 9px;
            text-align: center;
            letter-spacing: 3px;
            text-transform: uppercase;
            display: none;
            color: #9D9D9D;
        }
    }
    &__eye1 {
        position: absolute;
        opacity: .3;
        width: 164px;
        height: 164px;
        bottom: 48px;
        left: -3%;
        bottom: 0;
    }
    &__eye2 {
        position: absolute; 
        opacity: .3;       
        width: 297px;
        height: 157px;
        top: -4%;
        right: -9%;
    }
}




