header {
    font-size: 16px;
    max-width: 1440px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0 auto;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
}