* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #202024;
    
}
.container {
    margin: 0 auto;
    text-align: center;
}
.text_gray {
    font-weight: 300;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.6);
}
button {
    position: relative;
    width: 316px;
    height: 70px;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(246, 200, 102, 0.9) -6.2%, rgba(254, 173, 53, 0.9) 100%);
    border: none;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    &:hover {
        cursor: pointer;
        box-shadow:rgba(246, 200, 102, 0.9) 3px 3px 20px;
    }
}

@import "_mixins";
@import "_header";
@import "_promo.scss";
@import "_text";
@import "_text2";
@import "_interview";
@import "_footer";
@import "_animat";
@import "_media";